.header {
  background: #33CCFF;
  width: 100%;
  height: 90px; }
  @media screen and (max-width: 414px) {
    .header {
      width: 100%;
      height: 60px; } }

.logo {
  color: #fff;
  font-size: 28px;
  line-height: 90px;
  text-align: center;
  font-weight: bold; }
  @media screen and (max-width: 414px) {
    .logo {
      line-height: 60px;
      font-size: 20px; } }

.main {
  width: 980px;
  margin: 60px auto;
  line-height: 1.5em; }
  @media screen and (max-width: 414px) {
    .main {
      width: 100%;
      margin: 30px auto; } }

.presentation {
  margin-bottom: 60px; }
  @media screen and (max-width: 414px) {
    .presentation {
      margin-bottom: 30px; } }

.heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px; }
  @media screen and (max-width: 414px) {
    .heading {
      font-size: 20px; } }

.text {
  font-size: 18px;
  line-height: 1.5em;
  color: #000; }
  .text-center {
    text-align: center; }

.question {
  width: 50%;
  margin: 0 auto; }
  @media screen and (max-width: 414px) {
    .question {
      width: 100%; } }

.choices {
  display: flex;
  justify-content: space-between;
  margin-top: 120px; }
  @media screen and (max-width: 414px) {
    .choices {
      width: 80%;
      flex-direction: column;
      margin: 30px auto; } }

.choice {
  width: 40%;
  height: 100px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  transition: all  0.3s ease; }
  .choice:hover {
    cursor: pointer;
    opacity: .75;
    transform: scale(1.15, 1.15); }
  .choice-blue {
    background: #1C6ECD; }
  .choice-red {
    background: #CA4775; }
  @media screen and (max-width: 414px) {
    .choice {
      width: 100%;
      height: 80px;
      line-height: 80px;
      margin-bottom: 16px; }
      .choice:last-child {
        margin-bottom: 0; } }

.answer {
  width: 80%;
  margin: 0 auto; }
  @media screen and (max-width: 414px) {
    .answer {
      width: 100%;
      padding: 20px;
      box-sizing: border-box; } }

.img {
  margin: 40px auto;
  display: block;
  width: 60%;
  height: auto; }

.card-name {
  font-size: 28px; }
  @media screen and (max-width: 414px) {
    .card-name {
      font-size: 20px; } }

.answer-text {
  margin: 40px auto; }
  @media screen and (max-width: 414px) {
    .answer-text {
      text-align: start; } }

.toOfficial {
  display: block;
  text-decoration: none;
  transition: all  0.3s ease; }
  .toOfficial:hover {
    color: #1C6ECD;
    cursor: pointer;
    text-decoration: underline;
    opacity: .75;
    transform: scale(1.15, 1.15); }

.sp-br {
  display: none; }
  @media screen and (max-width: 414px) {
    .sp-br {
      display: block; } }

.pc-br {
  display: block; }
  @media screen and (max-width: 414px) {
    .pc-br {
      display: none; } }

.invisible {
  display: none; }
