//***************
//map
//***************
$breakpoints: (
        'sm': 'screen and (max-width: 414px)',
        'md': 'screen and (max-width: 780px)',
        'lg': 'screen and (max-width: 1000px)',
        'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin sp($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//***************
//header
//***************
.header{
  background: #33CCFF;
  width: 100%;
  height: 90px;
  @include sp(){
    width: 100%;
    height: 60px;
  }
}
.logo{
  color: #fff;
  font-size: 28px;
  line-height: 90px;
  text-align: center;
  font-weight: bold;
  @include sp(){
    line-height: 60px;
    font-size: 20px;
  }
}
//***************
//main
//***************
.main{
  width: 980px;
  margin: 60px auto;
  line-height: 1.5em;
  @include sp(){
    width: 100%;
    margin: 30px auto;
  }
}
.presentation{
  margin-bottom: 60px;
  @include sp(){
    margin-bottom: 30px;
  }
}
.heading{
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  @include sp(){
    font-size: 20px;
  }
}
.text{
  font-size: 18px;
  line-height: 1.5em;
  color: #000;
  &-center{
    text-align: center;
  }
}
.question{
  width: 50%;
  margin: 0 auto;
  @include sp(){
    width: 100%;
  }
}
.choices{
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  @include sp(){
    width: 80%;
    flex-direction: column;
    margin: 30px auto;
  }
}
.choice{
  width: 40%;
  height: 100px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  transition: all  0.3s ease;
  &:hover{
    cursor: pointer;
    opacity: .75;
    transform: scale(1.15,1.15);
  }
  &-blue{
    background: #1C6ECD;
  }
  &-red{
    background: #CA4775;
  }
  @include sp(){
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.answer{
  width: 80%;
  margin: 0 auto;
  @include sp(){
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}
.img{
  margin: 40px auto;
  display: block;
  width: 60%;
  height: auto;
}
.card-name{
  font-size: 28px;
  @include sp(){
    font-size: 20px;
  }
}
.answer-text{
  margin: 40px auto;
  @include sp(){
    text-align: start;
  }
}
.toOfficial{
  display: block;
  text-decoration: none;
  transition: all  0.3s ease;
  &:hover{
    color: #1C6ECD;
    cursor: pointer;
    text-decoration: underline;
    opacity: .75;
    transform: scale(1.15,1.15);
  }
}
.sp-br{
  display: none;
  @include sp(){
    display: block;
  }
}
.pc-br{
  display: block;
  @include sp(){
    display: none;
  }
}
.invisible{
  display: none;
}